/* 打印效果 */
@keyframes typing {
    from {
        width: 50px;
    }
    to {
        width: 200px;
    }
}

/* 光标 */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: currentColor;
    }
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dfe4e8;
    /* 让容器至少占满一屏高度 */
}

.header {
    display: flex;
    justify-content: space-between;

    .text {
        color: white;
        font-size: 20px;
        width: 200px;
        height: 1.5em;
        border-right: 1px solid transparent;
        animation: typing 2s steps(42, end), blink-caret .75s step-end infinite;
        font-family: Consolas, Monaco;
        word-break: break-all;
        overflow: hidden;

    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

}

.header,
.footer {
    text-align: center;
    background-color: #6f91ee;
    color: white;
    padding: 20px;
    z-index: 999;
}
.header {
    box-shadow: 0px 3px 10px 2px #999;
}
.footer {
    box-shadow: -1px -2px 10px #999;
}

.content {
    display: flex;
    flex: 1;
    /* 让内容区域自动填充剩余空间 */
}

.sidebar {
    background-color: #f0f0f0;
    flex-basis: 250px;
    /* 定义侧边栏宽度 */
    padding: 20px;
}

.main-content {
    flex: 1;
    /* 自动填充剩余空间 */
    padding: 20px;
}