.music-container {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    min-width: 500px;
    border-radius: 5px;
    background-color: #f9f9f9;
    .music-title {
        text-align: center;
        color: #6f91ee;
        font-weight: bold;
        font-size: 30px;
        
    }
}
.music-item {
    border-radius: 5px;
    background-color: #f0f0f0;
    // padding: 10px;
}
.active {
    background-color: rgba(111, 143, 237, 0.4);
    color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}